*{
    margin:0;
    padding:0;
    font-family:arial;
    border:border-box;
}
.navbar{
    height: 50px;
  background-color:#898980;
  color:white;
  display:flex;
  justify-content:space-evenly ;
}.navlogo{height: 50px;
  width:100px;
}
.logo{
  background-image:url("vecteezy_amazon-logo-png-amazon-icon-transparent-png_19766240.png");
  background-size: cover;
  
  height:50px;
  width:100%;
} .border{
  border: 2px solod bisque;
}
.border:hover{
  border:2px solid white;
}
/*box2*/
.firstlocation{color:aliceblue;
font-size:0.85px;

}.second{font-size: 1px;}
.navadress{
   margin-left: 30px;
  margin-top: 30px;
}/*box3*/
.navsearch{ justify-content: space-evenly;width: 620px;
  border-radius: 5px;
  background-color: antiquewhite;
  display:flex;
height:40px}
.searchselect{
  background-color: aliceblue;
  width: 95px;
  text-align:center;border-radius: 4px;
}.searchicon{
  background-color: rgb(239, 222, 39);
  align-items: center;
  width:55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.7rem;
}.harsh{border-radius:6px;
text-align:center;
border:none;
width:40px;
 }.searchinput{width:100%;
  font-size: 1rem;

}/*box4*/
span{
  font-size: 0.7 rem;

}.navsecond{
  font-size: 0.85 rem;
  font-weight: 700;
}
/*box5*/
.navreturn{font-weight: 700;

}.navcart{
  font-size: 30px;
  font-weight:700;
}
header{display:flex;
justify-content: space-evenly;
background-color: black;
height:50px;
color:aliceblue}
.details{
background-color: aqua;color:black;}
.hero{background-image:url("amzon.jpg");
height: 600px;
background-size: cover;
}.shopsection{
height:300px ;
width: 200px;
border: 2px solid black;
background-color: aliceblue;
}span{
display:flex;
justify-content: space-evenly;

}
